<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="bootstrap/jquery-3.4.1.slim.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script src="bootstrap/popper.min.js"></script>
  <script src="bootstrap/jquery-3.4.1.min.js"></script>
  <script src="node_modules/ejs/ejs.min.js"></script>
  <script src="bootstrap/sweetalert.min.js"></script>

  <script src="ejs.js"></script>
  <script src="../partials/header.ejs"></script>
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
  
  <script async src="https://widget.websitevoice.com/binjC7gvNxiPQbSL1Kjipw"></script>
  <script>
   window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
   wvtag('id', 'binjC7gvNxiPQbSL1Kjipw');
  </script>


  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

  <title>Document</title>
  <style>
    nav a:nth-of-type(1) {
      background: none;
    }

    nav a:nth-of-type(2) {
      background: none;
    }

    nav a:nth-of-type(3) {
      background: none;
    }

    nav a:nth-of-type(4) {
      background: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg  navbar-fixed-top" id="navbar">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="/chatbot">FinBot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.moneycrashers.com/best-financial-education-websites/">Resources</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/psychometric">Psychometric</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uploadfile">Upload Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/start_quiz">Amazing Quiz</a>
        </li>

      </ul>
    </div>
      </nav>
     
</body>

</html>