<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="bootstrap/jquery-3.4.1.slim.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script src="bootstrap/popper.min.js"></script>
  <script src="../node_modules/ejs/ejs.js"></script>
  <script src="bootstrap/sweetalert.min.js"></script>
  <script src="bootstrap/jquery-3.4.1.min.js"></script>
  <!-- <script scr="js/main.js"></script> -->
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css" />

  <title>Magic Cards</title>

  <style></style>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="150">
  <div class="main">

    <h1>Flip The Card To Reveal Your Future</h1>

    <div class="main-div">
      <div class="flip-card" id="card1">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg1"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card" id="card2">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg2"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card" id="card3">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg3"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card" id="card4">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg4"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card" id="card5">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg5"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card" id="card6">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="img/mag.jpeg" class="card-img-top" alt="magic-card" />
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-msg">
              <p class="msg" id="msg6"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Designed & created by Maja Kulpa. Copyright © by Maja Kulpa. 2019</p>
  </footer>

  <script type="text/javascript" src="scripts/cards.js"></script>
</body>

</html>