<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="css/fail.css">
</head>

<body>
	<header>
        <%- include('../partials/header.ejs') %>

    </header>
	
	<div class="container">
		<h2>Failed! Dust yourself off. Greatness Awaits! Try these resources next time to learn and score better. Your score is <span style="color: #ff0000"><%=marks%></span></h2></h2>
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png"
								width="68px" alt="">
						</div>
						<div class="our-services-text">
							<h4>Interact With an Expert</h4>
							<p>Get expert guidance and get sorted out all your queries.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png"
								width="68px" alt="">
						</div>
						<div class="our-services-text">
							<h4>External Resources</h4>
							<p>Click here to get some additional resources that will help you to get your concepts more
								clear</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-img">
							<img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png"
								width="68px" alt="">
						</div>
						<div class="our-services-text">
							<h4>Connect with organized lending partners</h4>
							<p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>