<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Amazing Quiz</title>
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="150">
    <header>
      <%- include('../partials/header.ejs') %>
  
    </header>
    <div class="main-container-quiz">
    

      <div class="main-quiz">
        <div id="results"></div>
        <div class="quiz-container">
          <div id="quiz"></div>
        </div>

        <button id="previous">Previous Question</button>
        <button id="next">Next Question</button>
        <button id="submit">Submit Quiz</button>
      </div>
    </div>

    <footer>
      <p>Designed & created by Maja Kulpa. Copyright © by Maja Kulpa. 2019</p>
    </footer>

    <script type="text/javascript" src="scripts/quiz.js"></script>
  </body>
</html>
